*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-color: #171923;
    --bg-light: #232535;
    --font-color: #c5cddb;
    --font-light: #ffffff;
    --transitionVar: all 500ms;
    --button-hover: lightskyblue;
}
.lightMode {
  --bg-color: #E8E6DC;
  --bg-light: #DCDACA;
  --font-color: #3D3D3D;
--button-hover: rgb(72, 0, 255);
    --font-light: #202020;
}

body {
    color: var(--font-light);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    transition: var(--transitionVar);
    position: relative;
}
p {
    color: var(--font-color);
}
button {
	border: none;
    background-color: var(--bg-color);
    transition: var(--transitionVar);
    color: var(--font-light);
    font-size: large;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
}
header  img {
    height: 3rem;
}

header h1{
    text-align: center;
}

footer{
    position: fixed;
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: var(--font-light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    bottom: 0%;
}

footer h3 {
    color: var(--bg-color);
}

main{
    position: relative;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

#addBook{
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--font-light);
    padding-inline: 2rem;
}

#addBook:hover, #addbook:focus{
    outline: none;
  box-shadow: 0 0 0 2px var(--button-hover) ;
}

#form-container{
    display: none;
    z-index: 1000;
	position: absolute;
    width: max(40vw,300px);
    height: fit-content;
    backdrop-filter: blur(100vh);
    border-radius: 20px;
  box-shadow: 0 0 0 2px var(--font-light) ;
}

.form-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: max(30vw,250px);
}
form{
    margin: 20px;
}
label{
    font-weight: 100;
    font-size:medium;
}

.input-group input{
    font-size: 1.25rem;
    padding: .3rem;
    border: none;
    outline: none;
    border-radius:.25rem ;
}
.checkbox-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.input-subgroup{
    display: flex;
    flex-direction: column;
    width: max(30vw,250px);
    gap: 0.5rem;
}

#read {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: var(--font-color);
    width: 1em;
    height: 1em;
    border: 0.15em solid var(--font-color);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

 #read::before {
    content: "";
    width: 0.6em;
    height: 0.6em;
    transform: scale(0);
    transition: 125ms transform ease-in-out;
    background-color: #3D3D3D;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
 #read:checked::before {
    transform: scale(1);
  }

  #submit-book{
    padding: 0.8rem;
    border-radius: 5px;
    border: 2px solid var(--font-light);
    margin-bottom: 1rem;
}
#submit-book:hover, #addbook:focus{
    outline: none;
  box-shadow: 0 0 0 2px var(--button-hover) ;
}

.book-container{
    margin-top: 2rem;
    width: min(80vw,1000px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: min-content;
    gap: 2rem;
}

.book-details{
    background-color: var(--font-light);
    color:var(--bg-light);
    padding: 1.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align:center;
    text-transform: capitalize;
    align-items: center;
}

.book-container .book-details .checkbox-input {
    padding-top: 1rem;
}

.book-details p{
    color:var(--bg-light)
}

#remove-button{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.475);
    color: var(--bg-light);
    border: 2px solid var(--bg-light);
    padding-inline: 2rem;
    margin-bottom: 0.5rem;
}

#remove-button:hover, #remove-button:focus{
    outline: none;
  box-shadow: 0 0 0 2px var(--button-hover) ;
}

#read-button{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.47);
    color: var(--bg-light);
    border: 2px solid var(--bg-light);
    padding-inline: 2rem;
    margin-top: 1rem;
}

#read-button:hover, #read-button:focus{
    outline: none;
  box-shadow: 0 0 0 2px var(--button-hover) ;
}

#read-button:disabled{
  outline: none;
  box-shadow: 0 0 0 2px black ;
}